*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 12px;
    line-height: 16px;
    color: #221f1f;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.promo-label,
.promo-label-top, 
.promo-label-p {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 50px;
    background-color: rgb(216, 55, 152);
    color: #fff;
    position: absolute;
    top: 15px;
    left: 8px;    
}

.bag {
    position: absolute;
    bottom: 8px;
    right: 8px;    
}

.promo-label-p {
    background-color: #f84147; 
}

.promo-label-top {
    background-color: orange
}

.interested {
    display: flex;
    flex-wrap: wrap;
    max-width: 50px;
    position: absolute;
    top: 8px;
    right: 8px;   
}

.image-holder {
    margin-top: 100px;
    min-height: 350px;
}

.price {
    list-style: none;
    padding: 0;
}


.price .new-price {
    color: #f84147;
}

.price .old-price {
    height: 18px;
    font-size: 14px;
    color: #797878;
    text-decoration: line-through;
}

.col {
    position: relative;
    max-width: 350px;
    min-width: 200px;
    width: calc(100%/3);
    margin-top: 30px;
    padding: 16px;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

.text-holder {
    color: #3e77aa;
}